html, body {
  height: 100%; /*Fixes the height to 100% of the viewport*/
}
body {
  padding-top: 87px; /*50px for the height of the navbar + 37px for the offset*/
  padding-bottom: 50px; /*50px for the height of the bottom navbar*/
}
.navbar-offset {
    top: 37px; /*Offsets the top navbar 37px from the top of the viewport*/
}
.container-fluid.scrollable {
  height: 100%; /*Sets the scrollable area to 100% of the viewport*/
  overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
}

.table-responsive {
    margin-right:15%;
}

#message {
    width: 50%;
    margin: auto;
}

#logout-form-div {
    margin-top: .55em;
    margin-right: 1em;
}

#login-form-div, .user-form-div {
    width: 50%;
    margin: auto;
}

#login-form-panel, .user-form-panel {
    width: 50%;
    margin: auto;
}

#login-submit, .user-form-submit {
    width: 100%;
    margin-top: 1em;
}

.input-group {
    width: 100%;
}

.delete {
  margin-left: .5em;
}